.container {
  height: calc(100vh);
  overflow: hidden;
  position: relative;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80%;
  height: 100%;
  margin: auto;
  color: #ececec;
}

.projectContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  /* background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-bottom: 2px solid rgba(255, 255, 255, 0.2); */
}

.textContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
}

.title {
  font-size: 88px;
  color: #385170;
  letter-spacing: 10px;
}

.cardsContainer {
  margin: 0 auto;
  width: 100%;
}
