@font-face {
  font-family: "Prototype";
  src: url("/fonts/Prototype.ttf") format("truetype");
}

.container {
  /* height: calc(100vh); */
  overflow: hidden;
  position: relative;
}

.wrapper {
  max-width: 80%;
  margin: auto;
  margin-top: 120px;
}

.textContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
  width: 100%;
  gap: 2rem;
}

.title {
  font-size: 88px;
  font-family: Prototype, sans-serif;
  white-space: nowrap;
  letter-spacing: 2px;
  background: linear-gradient(to right, #078343, #22c470, #02592c);
  background-clip: text;
  color: transparent;
}

.textContainer h2 {
  font-family: Prototype, sans-serif;
  font-size: 30px;
}

.projectContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
