.container {
  height: calc(100vh - 100px);
  overflow: hidden;
  position: relative;
}

.wrapper{
    max-width: 1355px;
    height: 100%;
    margin: auto;
}

.textContainer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
}

.textContainer h2{
    font-size: 30px;
    color: rebeccapurple;
    letter-spacing: 10px;
}

.textContainer h1{
    font-size: 88px;
    color: #ececec;;
}


