@font-face {
  font-family: "Prototype";
  src: url("/fonts/Prototype.ttf") format("truetype");
}

.container {
  height: calc(100vh);
  overflow: hidden;
  position: relative;
}

.wrapper {
  max-width: 80%;
  margin: auto;
  margin-top: 150px;
}

.dataContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  gap: 2rem;
  width: 800px;
  height: 400px;
}

.name {
  font-size: 88px;
  font-family: Prototype, sans-serif;
  letter-spacing: 2px;
  background: linear-gradient(
    to right,
    #078343,
    #11a759,
    /* #8bf4be, */ /* #5ee9a1, */ /* #bffbdc, */ #3bd988,
    #22c470,
    #02592c
  );
  background-clip: text;
  color: transparent;
}

.dataContainer h2 {
  font-size: 50px;
  font-family: Prototype, sans-serif;
  z-index: 2;
}

a.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-family: Prototype, sans-serif;
  font-weight: 500;
  color: #ececec;
  width: 200px;
  padding: 15px;
  border-radius: 20px;
  background-color: #232323;
  border: 1px solid rgb(52, 52, 52);
  transition: border 0.3s ease-in-out;
  cursor: pointer;
}

a.button:hover {
  border: 1px solid rgb(150, 159, 155);
}

a.button:hover span {
  color: #000;
}

.wavesContainer {
  margin-top: 50px;
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}
