.container {
  height: auto;
  overflow: hidden;
  position: relative;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80%;
  margin: auto;
  color: #ececec;
  padding: 20px;
}

.aboutContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin-top: 50px;
  gap: 2rem;
}

.subContainer {
  display: flex;
  flex-direction: column-reverse;
}

.textContainer {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.about {
  font-size: 88px;
  color: #385170;
  letter-spacing: 5px;
}

.text {
  width: 100%;
  font-size: 16px;
  color: #ececec;
}

.imageContainer {
  width: 100%;
}

.image {
  width: 350px;
  z-index: 2;
  margin: 0 auto;
  margin-top: 50px;
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  0%, 100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(20px, -20px);
  }
}

.stackContainer {
  width: 100%;
  margin-top: 20px;
}

/* Responsive Styles */

@media (max-width: 992px) {
  .wrapper {
    max-width: 90%;
  }

  .about {
    font-size: 36px;
    letter-spacing: 3px;
  }

  .text {
    font-size: 14px;
  }

  .imageContainer {
    display: none; /* Ocultar la imagen en pantallas más pequeñas */
  }
}

@media (max-width: 768px) {
  .about {
    font-size: 28px;
    letter-spacing: 2px;
  }

  .text {
    font-size: 12px;
  }
}
