@font-face {
  font-family: "Prototype";
  src: url("/fonts/Prototype.ttf") format("truetype");
}

.container {
  height: 100vh;
  overflow: hidden;
  position: relative;
  font-family: Prototype, sans-serif;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80%;
  height: 100%;
  margin: auto;
  color: #ececec;
}

.aboutContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  margin-top: 100px;
  border-radius: 5px;
  gap: 5rem;
}

.about {
  font-size: 88px;
  font-family: Prototype, sans-serif;
  white-space: nowrap;
  letter-spacing: 2px;
  background: linear-gradient(to right, #078343, #11a759, #22c470, #02592c);
  background-clip: text;
  color: transparent;
}

.text {
  text-align: left;
  font-size: 20px;
  width: 100%;
}
