@font-face {
  font-family: "Prototype";
  src: url("/fonts/Prototype.ttf") format("truetype");
}

.container {
  height: 100vh;
  overflow: hidden;
  position: relative;
  font-family: Prototype, sans-serif;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80%;
  height: 100%;
  margin: auto;
  color: #ececec;
}

.aboutContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin-top: 100px;
  border-radius: 5px;
  gap: 5rem;
}

.subContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.textContainer {
  width: 50%;
}

.imageContainer {
  width: 50%;
}

.about {
  font-size: 88px;
  font-family: Prototype, sans-serif;
  white-space: nowrap;
  letter-spacing: 2px;
  background: linear-gradient(to right, #078343, #11a759, #22c470, #02592c);
  background-clip: text;
  color: transparent;
}

.text {
  text-align: left;
  font-size: 20px;
  width: 100%;
}

.image {
  width: 350px;
  z-index: 2;
  margin-left: 200px;
  margin-top: 50px;
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  0%,
  100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(20px, -20px);
  }
}

.stackContainer {
  width: 70vw;
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}
