* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #ececec;
}

html {
  /* scroll-snap-type: y mandatory; */
  scroll-behavior: smooth;
}

body {
  /* background-image: url("../src/assets/darkBackground.jpg"); */
  /*  background-position: center center; */
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  /* background-attachment: fixed; */
  /* min-height: 100vh; */
  background: #000;
  /* mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent); */
}

a {
  text-decoration: none;
  color: inherit;
}

