* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  scrollbar-color: #22c470 #232323;
}

body {
  background: rgb(28, 28, 28);
}

a {
  text-decoration: none;
  color: inherit;
}
