* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #ececec;
}

html {
  /* scroll-snap-type: y mandatory; */
  scroll-behavior: smooth;
}

body {
  background: #000;
  /* mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent); */
}

a {
  text-decoration: none;
  color: inherit;
}
