@font-face {
  font-family: "Prototype";
  src: url("../../assets/fonts/Prototype.ttf") format("truetype");
}

.container {
  overflow: hidden;
  position: relative;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
  margin: auto;
  color: #ececec;
}

.textContainer {
  flex: 1;
  display: flex;
  gap: 40px;
  color: #ececec;
  /* width: 80%; */
  margin-top: 120px;
  margin-left: -775px;
}

.title {
  font-family: Prototype, sans-serif;
  font-size: 80px;
  line-height: 88px;
  background: linear-gradient(
    to right,
    #078343,
    #11a759,
    #3bd988,
    #22c470,
    #02592c
  );
  background-clip: text;
  color: transparent;
}

.subContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.itemsContainer {
  margin-bottom: 200px;
  margin-left: 50px;
  width: 50%;
}

.itemsContainer ul {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 3rem;
}

.itemsContainer ul li {
  display: flex;
  gap: 1rem;
  align-items: center;
  font-family: Prototype, sans-serif;
  transition: color 0.3s ease-in-out;
}

.itemsContainer ul li:hover {
  color: #22c470;
  cursor: pointer;
}

.icon {
  color: #ececec;
  transition: color 0.3s ease-in-out;
}

.itemsContainer .icon:hover {
  color: #22c470;
}

.formContainer {
  flex: 1;
  position: relative;
  height: 30rem;
  width: 100%;
  margin-bottom: 50px;
}

.formContainer {
  flex: 1;
  position: relative;
  height: 30rem;
  width: 100%;
  /* z-index: 2; */
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input,
.textarea {
  background-color: #232323;
  border: 1px solid rgb(52, 52, 52);
  border-radius: 20px;
  padding: 20px;
  color: #ececec;
  transition: border 0.3s ease-in-out;
  resize: none;
  font-family: Prototype, sans-serif;
}

.input:focus,
.textarea:focus {
  outline: none;
  border: 1px solid rgb(150, 159, 155);
}

.button {
  padding: 20px;
  border: none;
  background-color: #232323;
  border: 1px solid rgb(52, 52, 52);
  border-radius: 20px;
  font-family: Prototype, sans-serif;
  font-weight: 500;
  color: #ececec;
  transition: border 0.3s ease-in-out;
  cursor: pointer;
}

.button:hover {
  border: 1px solid rgb(150, 159, 155);
}

.toaster {
  margin-bottom: -150px;
  margin-right: -150px;
}

@media (max-width: 800px) {
  .container {
    height: calc(100vh);
    width: 100vw;
  }

  .wrapper {
    width: 100vw;
  }

  .textContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100vw;
    margin-top: 100px;
  }

  .title {
    font-size: 50px;
    text-align: center;
  }

  .itemsContainer {
    display: none;
  }

  .subContainer {
    margin-top: 100px;
  }

  .formContainer {
    width: 98%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .input,
  .textarea {
    width: 400px;
  }

  .toaster {
    margin-bottom: -70px;
    margin-left: -6px;
  }
}

@media (max-width: 720px) {
  .formContainer {
    margin-top: -100px;
  }
}

@media (max-width: 400px) {
  .title {
    font-size: 45px;
  }

  .formContainer {
    margin-top: -50px;
  }
}
