/* background-color: rgba(0,0,0,.75); */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  z-index: 1;
}

.logo {
  height: 80px;
  width: 100px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.logo:hover {
  transform: scale(1.1);
}

.itemsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
  list-style: none;
  color: #ececec;
  font-weight: bold;
}

.itemsContainer li {
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.itemsContainer li:hover {
  color: cornflowerblue;
}

.iconContainer {
  display: none;
}

.mobileLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  font-size: 3rem;
  text-transform: uppercase;
  color: #ececec;
  cursor: pointer;
}

.menuSubContainer {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.mobileImgContainer {
  display: flex;
  justify-content: space-between;
}

.links {
  overflow: hidden;
}

@media (max-width: 800px) {
  .itemsContainer {
    display: none;
  }

  .imgMobile {
    height: 80px;
    width: 100px;
    margin-left: 20px;
    margin-top: 8px;
  }

  .logo {
    margin-left: -70px;
  }

  .iconContainer {
    display: block;
    color: #ececec;
    cursor: pointer;
    margin-right: -70px;
  }

  .iconCloseContainer {
    margin: 35px 34px 0 0;
    color: #ececec;
    cursor: pointer;
  }

  .menuContainer {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    transform-origin: top;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    color: #ececec;
    padding: 10px;
    z-index: 2;
  }
}

@media (max-width: 600px) {
  .itemsContainer {
    display: none;
  }

  .logo {
    margin-left: -70px;
  }

  .menuContainer {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    transform-origin: top;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    color: #ececec;
    padding: 10px;
    z-index: 2;
  }

  .menuItemsContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    gap: 4px;
  }
}
