.text {
  font-size: 20px;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.active {
  border-radius: 20px;
  position: absolut;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background-color: var(--color-primary);
}
